.banner {
  position: relative;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -25%);
}

.box__text {
  background-color: #080808d6;
  color: #f5f5f5;
  font-size: 2.5rem;
  padding: 30px;
}

.box__buttons {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin-top: 10px;
}

.button {
  background-color: #f25955;
  border-radius: 5px;
  border: #f25955;
  padding: 10px;
  color: #f5f5f5;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .box {
    position: initial;
    transform: none;
  }

  .box__text {
    font-size: 1rem;
  }

  .box__buttons {
    align-items: center;
    justify-content: space-around;
    gap: 0%;
  }
}

@media screen and (min-width: 1024px) {
  .box {
    transform: translate(-85%, -65%);
  }
}
