.header {
  display: flex;
  flex-direction: column;
}

.header__info {
  background-color: #d83b3bde;
}

.header__items {
  color: #fafafa;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  width: 75%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item__info {
  margin-left: 20px;
}

.icon {
  font-size: 1.5rem;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  color: #1a1a1a;
  background-color: #fafafa;
}

.nav__links {
  display: flex;
  flex-direction: row;
}

.nav__links a {
  margin-right: 15px;
}

.nav__links a:hover {
  color: #d74c4c;
}
