.imovel {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.imovel__description {
  border: 1px solid #d9d9d9;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px;
  background-color: #fff;
}

.imovel__titulo {
  font-size: 1.4rem;
  color: #f25955;
}

.imovel__detalhe {
  margin-top: 10px;
}

.imovel__tipo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  color: #808080;
  font-size: 0.9rem;
}

.imovel__valor {
  margin-top: 25px;
  color: #f25955;
  font-size: 1.6rem;
}

.imovel a {
  width: 100%;
  margin-top: 20px;
}

.imovel button {
  background-color: #f25955;
  border-radius: 5px;
  border: #f25955;
  padding: 10px;
  color: #f5f5f5;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
}

.imovel__itens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20%;
  background: #f5f5f5;
  border-radius: 0 0 3px 3px;
  border: 1px solid #d9d9d9;
  border-top: none;
  padding: 15px 0;
}

.imovel__itens span {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #808080;
}

.icon {
  font-size: 2.5rem;
  color: #1e1e1e;
}
